@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

body{
    font-family: 'Philosopher', sans-serif !important;
}
/*HEADER*/
header{
    padding: 0px 0;
    position: absolute;
    width: 100%;
    z-index: 9;
}
header .navbar-brand{}
header .navbar-brand img{}
header .navbar-nav {
    padding: 0 100px 0 0;
}
header .navbar-nav li{}
header .navbar-nav li:last-child{}
header .navbar-nav li a{
    font-size: 18px;
    font-weight: 500;
    padding: 15px 25px !important;
    color: #fff !important;
}
header .navbar-nav li a.active,
header .navbar-nav li a:hover{

}
/*HEADER*/
/*BANNER*/
section.banner {
    height: 900px !important;
    display: flex !IMPORTANT;
    align-items: center !IMPORTANT;
    text-align: center;
    background: url(../../assets/images/banner.jpg);
}

section.banner h2 {
    font-size: 120px;
    line-height: 126px;
    font-weight: 400;
    letter-spacing: 0px !IMPORTANT;
    padding-bottom: 30px;
    color: #fff;
}

section.banner h2 strong {
    color: #ef9465;
    font-weight: 400;
}

section.banner a.join-btn {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid #fff;
    padding: 10px 10px !IMPORTANT;
    width: 15%;
    margin: auto;
    border-radius: 30px;
}
/*BANNER*/
/*section-2*/
.section-2 div#v-pills-tabContent .active img {
    box-shadow: 0px 0px 10px 0px #000 !important;
    border-radius: 10px;
}

.section-2 .d-flex.align-items-start {
    text-align: center;
    margin: auto;
    float: right;
}

.section-2 div#v-pills-tab {
    float: left !IMPORTANT;
    width: 620px !IMPORTANT;
    display: unset;
}

section.section-2 {
    padding: 50px 0;
}
.section-2 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #27514d;
    background: none;
    font-weight: 600;
}

.section-2 .nav-pills .nav-link {
    font-size: 27px;
    font-weight: 400;
    line-height: 25px;
    background: none;
    color: #6c6c6c;
    margin: 0 0 15px 0 !IMPORTANT;
}
.section-2 h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 48px;
    color: #27514d;
    padding-bottom: 20px;
    margin: 0;
}

.section-2 p {
    font-size: 27px;
    font-weight: 400;
    line-height: 26px;
    color: #000;
    padding-bottom: 60px;
}

.section-2 h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
}
/*section-2*/
/*section-3*/
.section-3 .d-flex.align-items-start {
    display: unset !IMPORTANT;
}

.section-3  div#v-pills-tab {
    float: right;
}

.section-3 h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
    text-align: right;
    padding-right: 20px;
}

.section-3 .nav-pills .nav-link {
    font-size: 27px;
    font-weight: 400;
    line-height: 25px;
    background: none;
    color: #6c6c6c;
    margin: 0 0 15px 0 !IMPORTANT;
    text-align: right;
    padding-right: 0;
}

.section-3 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #27514d;
    background: none;
    font-weight: 600;
}

section.section-3 {
    padding: 20px 0 50px 0;
}

.section-3 div#v-pills-tabContent .active img {
    box-shadow: 0px 0px 10px 0px #000 !important;
    border-radius: 10px;
    position: relative;
    margin-top: -30px;
}
/*section-3*/
/*section-4*/
.section-4 {
    padding-bottom: 60px;
}
.section-4 h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
}
.section-4 .d-flex.align-items-start {display: unset !IMPORTANT;}

.section-4 div#v-pills-tab {
    float: left;
}

.section-4 div#v-pills-tabContent .active img {
    float: right;
    box-shadow: 0px 0px 10px 0px #000 !important;
    border-radius: 10px;
    position: relative;
    margin-top: -20px;
}

.section-4 .nav-pills .nav-link {
    font-size: 27px;
    font-weight: 400;
    line-height: 25px;
    background: none;
    color: #6c6c6c;
    margin: 0 0 15px 0 !IMPORTANT;
    text-align: left;
}

.section-4 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #27514d;
    background: none;
    font-weight: 600;
}
/*section-4*/
/*learning-section*/
.learning-section {
    background: #fceae0;
    padding: 80px 0 40px 0;
}

.learning-section h2 {
    font-size: 50px;
    line-height: 55px;
    width: 80%;
    margin: auto;
    color: #27514d;
    font-weight: 700;
    padding-bottom: 30px;
}

.learning-section ul#myTab li {text-align: center;font-size: 40px;margin: auto;line-height: 48px;}
.learning-section ul#myTab {
    width: 100%;
    margin: auto;
    background: #fff;
    padding: 20px 150px !IMPORTANT;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px -2px #000;
    margin-bottom: 60px;
}
.learning-section .item{}
.learning-section .box img {width: 100%;}

.learning-section .box {background-color: #fff;border-radius: 20px 20px 0px 0px;box-shadow: 0px 0px 10px -5px #000;padding-bottom: 0px;margin: 20px;}

.learning-section .box h4 {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 24px;
    line-height: 21px;
    font-weight: 700;
    color: #27514d;
    padding-bottom: 10px;
}

.learning-section .box p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 30px;
    color: #6c6c6c;
    width: 75% !IMPORTANT;
    padding-bottom: 20px;
}

.learning-section .box-in {
    background-color: #ef9465;
    height: 40px;
    color: #fff;
    padding-top: 10px;
}

.learning-section .box-in h5 {
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    float: left;
    padding-left: 50px;
}

.learning-section .box-in h6 {
    font-size: 16px;
    font-weight: 400;
    width: 20%;
    float: right;
}

.learning-section ul#myTab li .nav-link.active {
    color: #ef9465;
    border: navajowhite;
}

.learning-section ul#myTab li .nav-link {
    color: #6c6c6c;
}

.learning-section ul.slick-dots {
    text-align: right;
    padding-right: 20px;
    bottom: -35px;
}

.learning-section .slick-dots li button:before {
    font-size: 15px;
    content: "" !IMPORTANT;
    width: 10px;
    height: 10px;
    background: #000;
}
.learning-section .slick-dots li.slick-active button:before {
    opacity: unset !IMPORTANT;
    width: 40px;
    color: #27514d;
}

.learning-section li.slick-active {
    width: 50px !important;
}
.learning-section .items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.learning-section .slick-slide img {
    width: 100%;
    border: 0px solid #fff;
}
/*learning-section*/
/*courses-section*/
.courses-section{
    padding: 80px 0;
}
.courses-section h2{
    color: #27514d;
    font-size: 50px;
    line-height: 81px;
    font-weight: 700;
}
.courses-section h5{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #787878;
    width: 65%;
    margin: auto;
    padding-bottom: 30px;
}
.courses-section .box-in{box-shadow: 0px 0px 10px -2px #000 !important;text-align: center;padding-bottom: 30px;margin-bottom: 60px;}
.courses-section .box-in img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin: 0 0 30px;
}
.courses-section .box-in h3>a{
    font-size: 26px;
    color: #000000;
    font-weight: 700;
    margin-top: 30px;
    padding-bottom: 10px;
}
.courses-section .box-in p{
    font-size: 15px;
    line-height: 20px;
    font-family: 'Poppins';
    font-weight: 300;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}
.courses-section .box-in a.read-btn{
    color: #ef9465;
    font-size: 18px;
    font-weight: 600;
}
.courses-section a.demo-btn{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    background: #27514d;
    font-weight: 400;
    padding: 10px 15px !IMPORTANT;
    border-radius: 30px;
    box-shadow: 0px 0px 10px -2px #000;
}
/*courses-section*/
/*short-section*/
.short-section{
    padding: 50px 0;
    background: url(../../assets/images/bg-yellow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.short-section h2{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    padding-bottom: 10px;
}
.short-section p{
    font-size: 15px;
    line-height: 20px;
    font-family: 'Poppins';
    font-weight: 300;
    color: #fff;
    width: 70%;
}
.short-section a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid #fff;
    padding: 10px 20px !IMPORTANT;
    border-radius: 30px;
    text-transform: uppercase;
}
.short-section .short-2 {
    padding-top: 40px;
}
/*short-section*/
/*video section*/
.video-section {
    padding: 80px 0 !IMPORTANT;
}

.video-section h2 {
    color: #27514d;
    font-size: 50px;
    line-height: 81px;
    font-weight: 700;
}

.video-section p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #787878;
    width: 65%;
    margin: auto;
    padding-bottom: 30px;
}

section.video-section .img-box1{
    position: relative;
}

section.video-section .play-icon{
    position: absolute !important;
    top: 0;
    width: 80px !important;
    height: 80px !important;
    right: 0;
    margin: auto;
    bottom: 0;
    left: 0;
}

section.video-section .img-box1 img{
    height: 540px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    position: relative;
}
section.video-section .img-box2{
    position: relative;
}
section.video-section .img-box2 .play-icon{
    width: 80px !important;
    height: 80px !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
section.video-section .img-box2 img{
    height: 255px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    margin: 0 0 30px;
    position: relative;
}
.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.lightbox-container {
  position: relative;
  max-width: 960px;
  margin: 7% auto;
  display: block;
  padding: 0 3%;
  height: auto;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .lightbox-container {
    margin-top: 10%;
  }
}
@media screen and (max-width: 414px) {
  .lightbox-container {
    margin-top: 13%;
  }
}
.lightbox-content {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}
.lightbox-close {
  text-transform: uppercase;
  background: transparent;
  position: absolute;
  font-weight: 300;
  font-size: 12px;
  display: block;
  border: none;
  color: white;
  top: -22px;
  right: 3%;
}
.video-container {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  height: 0;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
/* IGNORE FORM THIS POINT ON */

#playme {border: 0;padding: 0;width: 100%;background: transparent;}
/*video section*/
/*contact-section*/
.contact-section {
    padding: 80px 0 50px 0 !IMPORTANT;
    background-color: #fceae0;
    position: relative;
}

.contact-section input.form-control.name-1 {
    width: 48%;
    float: left;
    background: transparent;
    border: navajowhite;
    border-bottom: 2px solid #cccccc;
    border-radius: unset;
    font-size: 15px;
}

.contact-section input.form-control.email-1 {
    width: 48%;
    float: right;
    background: transparent;
    border: navajowhite;
    border-bottom: 2px solid #cccccc;
    border-radius: unset;
    font-size: 15px;
}

.contact-section textarea.form-control {
    background: transparent;
    border: navajowhite;
    border-bottom: 2px solid #cccccc;
    border-radius: unset;
    font-size: 15px;
    height: 70px;
    padding-top: 40px;
    margin-bottom: 50px;
}

.contact-section button.btn.btn-primary {float: right;color: #fff;text-decoration: none;font-size: 20px;background: #27514d;font-weight: 400;padding: 10px 45px !IMPORTANT;border-radius: 30px;box-shadow: 0px 0px 10px -2px #000;text-transform: uppercase;border: navajowhite;}

.contact-section h2 {
    color: #27514d;
    font-size: 50px;
    line-height: 48px;
    font-weight: 400;
}

.contact-section:before {
    position: absolute;
    content: "";
    background: url(../../assets/images/girl-student-pic.png);
    width: 350px;
    height: 410px;
    right: 15%;
    bottom: 0;
    background-repeat: no-repeat;
}
/*contact-section*/
/*newsletter-section*/
.newsletter-section {
    padding: 60px 0;
}

.newsletter-section h2 {
    color: #27514d;
    font-size: 50px;
    line-height: 48px;
    font-weight: 400;
}

.newsletter-section p {
    font-size: 16px;
    line-height: 28px;
    font-family: 'Poppins';
    font-weight: 300;
    color: #000;
    width: 50%;
    margin: auto;
    padding-bottom: 20px;
}

.newsletter-section h3 {
    color: #27514d;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    padding-left: 30px;
}

.newsletter-section input.form-control.email-2 {
    height: 50px;
    border-radius: unset;
}

.newsletter-section button.btn.btn-primary {
    width: 100%;
    margin-top: 28px;
    height: 50px;
    background: #ef9465;
    border: none;
    border-radius: unset;
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 700;
}
/*newsletter-section*/
/*footer*/
footer {
    padding: 30px 0 40px 0px;
    background: linear-gradient(45deg, #af8908, #fdc70c);
}
footer p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    width: 60%;
    padding-top: 10px;
}

footer h3 {
    color: #000;
    padding-top: 30px;
    padding-bottom: 30px !IMPORTANT;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
}

footer ul.footer-1 {
    padding: 0;
    margin: 0;
}

footer ul.footer-1 li {
    margin: 0 0 5px 0 !important;
    list-style: none;
}

footer ul.footer-1 li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

footer ul.footer-2 {
    padding: 0;
    margin: 0;
}

footer ul.footer-2 li {
    margin: 0 0 5px 0 !important;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

footer ul.footer-3 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

footer ul.footer-3 li {
    display: inline;
    margin: 0 10px !important;
}

footer ul.footer-3 li i {
    color: #e2b20b;
    background: #000;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    border-radius: 50%;
}

footer h3:before {
    position: absolute;
    content: "";
    background: url(.../../assets/images/line.png);
    width: 60px;
    height: 5px;
    bottom: 15px;
    left: 0;
    background-repeat: no-repeat;
}
/*footer*/
/*copyright-section*/
.copyright-section {
    background: #ef9465;
    padding: 10px 0;
}

.copyright-section p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.copyright-section ul.copyright-ul {
    float: right;
    margin: 0;
    padding: 0;
}

.copyright-section ul.copyright-ul li {
    display: inline;
    margin: 0 10px !IMPORTANT;
}

.copyright-section ul.copyright-ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
/*copyright-section*/
body .icon {
        position: absolute;
        z-index: 20;
        top: 60px;
        right: 20%;
        text-align: center;
        width: 45px;
        height: 45px;
        line-height: 200%;
        border-radius: 50%;
        cursor: pointer;
        transition: all 1s ease-in;
        /* background-color: rgba(149, 153, 226, 0.3); */
        z-index: 9999999999;
        /* -webkit-animation: simple-scale .8s .8s linear infinite alternate; */
        /* animation: simple-scale .8s .8s linear infinite alternate; */
}
body .icon.change-backGround {/* background-color: #000; */border-radius: 0;}
body .icon i {
        color: #fff;
        font-size: 1.1em;
        line-height: 45px;
        transition: all 1s ease-in;
        position: relative;
        z-index: 999999;
        -webkit-animation: simple-scale .8s .8s linear infinite alternate;
        animation: simple-scale .8s .8s linear infinite alternate;
}
body .icon i::before {
transition: all 1s ease-in;
}
body .icon i.clicked::before {content: "\f00d";color: #fff;transition: 0.3s ease-in;}
/* Floating Navbar */
@keyframes rotate_scale {
0% {
transform: scale(0) rotate(0) translate(25%, -50%);
opacity: 1;
}
100% {
transform: scale(6) rotate(250deg) translate(-50%, -50%);
opacity: 0;
}
}
div#main {
position: absolute;
width: 100%;
}
#navbar {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translateX(-100%);
    transition: 1s ease;
    z-index: 2;
    z-index: 99999999;
    background: url(/wp-content/uploads/2020/10/Group-4781.png)no-repeat;
    background-size: cover;
    background-color: #ddd;
    border-bottom: 5px solid #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(41 94 113);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 45px 0px rgb(23 90 112);
}
#navbar ul#links {list-style: none;padding: 0;margin: 0;}
#navbar ul#links li {padding: 8px;margin: 20px 0 0;text-align: center;position: relative;}
#navbar ul#links li::before {content: "";position: absolute;bottom: -5%;left: 0%;width: 40px;height: 20px;border: 3px solid #ef9465;border-top: none;border-right: none;transition: all 0.4s ease-in;}
#navbar ul#links li:hover::before {
width: 100%;
height: 0;
left: 0;
}
#navbar ul#links li::after {content: "";position: absolute;top: -5%;right: 0%;width: 40px;height: 20px;border: 3px solid #ef9465;border-bottom: none;border-left: none;transition: all 0.4s ease-in;}
#navbar ul#links li:hover::after {
width: 100%;
height: 0;
right: 0;
}
#navbar ul#links li a {text-decoration: none;color: #000;font-weight: 600;font-size: 12px;text-transform: capitalize;height: 100%;width: 100%;}

